#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: color-sidebar-text
  text-shadow: none
  background: none
  box-shadow: none
  border: none
  padding: 0
  a
    color: color-grey
    text-decoration: none
    &:hover
      color: color-default
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc